{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini（原生）",
    "description": "Gemini 原生格式 API 接口，支持 generateContent 和 streamGenerateContent。\n\nGemini模型同时支持OpenAI请求格式与官方原生请求格式。走OpenAI格式调用Gemini模型，请使用 `/v1/chat/completions` 接口。走原生格式则使用本接口。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ezlinkai.com"
    }
  ],
  "paths": {
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini generateContent（非流式）",
        "operationId": "geminiGenerateContent",
        "description": "Gemini 原生格式的非流式内容生成接口。\n\n支持Gemini原生请求的模型：\n- gemini-2.0-flash\n- gemini-2.5-flash-preview-05-20\n- gemini-2.5-pro-preview-05-06\n- gemini-3-flash-preview\n- gemini-3-pro-preview\n- gemini-3.1-pro-preview\n\n官方文档：https://ai.google.dev/gemini-api/docs/text-generation?hl=zh-cn",
        "tags": ["Gemini（原生）"],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称，例如 `gemini-2.5-flash-preview-05-20`、`gemini-3.1-pro-preview`",
            "schema": {
              "type": "string",
              "default": "gemini-2.5-flash-preview-05-20"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "基础文本对话": {
                  "summary": "基础文本对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "你好，你是谁？"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 2048
                    }
                  }
                },
                "带系统指令": {
                  "summary": "带系统指令的对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "帮我写一段Python代码"
                          }
                        ]
                      }
                    ],
                    "systemInstruction": {
                      "parts": [
                        {
                          "text": "你是一个专业的编程助手，请用中文回复。"
                        }
                      ]
                    },
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 4096
                    }
                  }
                },
                "多轮对话": {
                  "summary": "多轮对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "1+1等于多少？"
                          }
                        ]
                      },
                      {
                        "role": "model",
                        "parts": [
                          {
                            "text": "1+1等于2。"
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "再加3呢？"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 2048
                    }
                  }
                },
                "Gemini3思考模式": {
                  "summary": "Gemini 3 思考等级配置",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "解释量子计算的基本原理"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 4096,
                      "thinkingConfig": {
                        "thinkingLevel": "high"
                      }
                    }
                  }
                },
                "结构化JSON输出": {
                  "summary": "结构化JSON输出",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "列出3种常见的编程语言及其特点"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 2048,
                      "responseMimeType": "application/json",
                      "responseJsonSchema": {
                        "type": "object",
                        "properties": {
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "编程语言名称"
                                },
                                "feature": {
                                  "type": "string",
                                  "description": "主要特点"
                                }
                              },
                              "required": ["name", "feature"]
                            }
                          }
                        },
                        "required": ["languages"]
                      }
                    }
                  }
                },
                "图片分析": {
                  "summary": "图片分析（base64）",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "这张图片里有什么？"
                          },
                          {
                            "inlineData": {
                              "mimeType": "image/jpeg",
                              "data": "<base64编码的图片数据>"
                            }
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 2048
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                },
                "example": {
                  "candidates": [
                    {
                      "content": {
                        "parts": [
                          {
                            "text": "你好！我是 Gemini，由 Google 开发的大型语言模型。有什么可以帮助你的吗？"
                          }
                        ],
                        "role": "model"
                      },
                      "finishReason": "STOP",
                      "safetyRatings": [
                        {
                          "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                          "probability": "NEGLIGIBLE"
                        },
                        {
                          "category": "HARM_CATEGORY_HATE_SPEECH",
                          "probability": "NEGLIGIBLE"
                        },
                        {
                          "category": "HARM_CATEGORY_HARASSMENT",
                          "probability": "NEGLIGIBLE"
                        },
                        {
                          "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                          "probability": "NEGLIGIBLE"
                        }
                      ]
                    }
                  ],
                  "usageMetadata": {
                    "promptTokenCount": 5,
                    "candidatesTokenCount": 28,
                    "totalTokenCount": 33
                  },
                  "modelVersion": "gemini-2.5-flash-preview-05-20"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "summary": "Gemini streamGenerateContent（流式）",
        "operationId": "geminiStreamGenerateContent",
        "description": "Gemini 原生格式的流式内容生成接口。\n\n请求体与 `generateContent` 完全一致，区别在于：\n1. 路径使用 `:streamGenerateContent` 替代 `:generateContent`\n2. 需添加查询参数 `alt=sse` 以获得 SSE 格式的流式响应\n\n支持的模型与 generateContent 一致。",
        "tags": ["Gemini（原生）"],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型名称，例如 `gemini-2.5-flash-preview-05-20`、`gemini-3.1-pro-preview`",
            "schema": {
              "type": "string",
              "default": "gemini-2.5-flash-preview-05-20"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "required": true,
            "description": "响应格式，必须为 `sse`，表示使用 Server-Sent Events 流式传输",
            "schema": {
              "type": "string",
              "default": "sse",
              "enum": ["sse"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "流式文本对话": {
                  "summary": "流式文本对话",
                  "value": {
                    "contents": [
                      {
                        "role": "user",
                        "parts": [
                          {
                            "text": "写一首关于春天的诗"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 1.0,
                      "maxOutputTokens": 2048
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE 流式返回，每个事件包含一个 GenerateContentResponse 对象",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "系统访问令牌，可在网站个人中心获取"
      }
    },
    "schemas": {
      "GenerateContentRequest": {
        "type": "object",
        "required": ["contents"],
        "properties": {
          "contents": {
            "type": "array",
            "description": "对话内容，支持多轮对话",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "systemInstruction": {
            "type": "object",
            "description": "系统指令（System Prompt），用于设定模型的行为和角色",
            "properties": {
              "parts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "系统指令文本内容"
                    }
                  },
                  "required": ["text"]
                }
              }
            },
            "required": ["parts"]
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig"
          },
          "safetySettings": {
            "type": "array",
            "description": "内容安全过滤设置",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "tools": {
            "type": "array",
            "description": "工具配置，支持函数调用(functionDeclarations)、代码执行(codeExecution)等",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Content": {
        "type": "object",
        "required": ["role", "parts"],
        "properties": {
          "role": {
            "type": "string",
            "description": "角色：`user` 表示用户，`model` 表示模型回复",
            "enum": ["user", "model"]
          },
          "parts": {
            "type": "array",
            "description": "消息的内容部分，可包含文本、图片等多种类型",
            "items": {
              "$ref": "#/components/schemas/Part"
            }
          }
        }
      },
      "Part": {
        "type": "object",
        "description": "内容部分，text 和 inlineData 至少提供一个",
        "properties": {
          "text": {
            "type": "string",
            "description": "文本内容"
          },
          "inlineData": {
            "type": "object",
            "description": "内联数据，用于传递图片、音频、PDF等多模态数据",
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "MIME类型，例如 `image/jpeg`、`image/png`、`application/pdf`、`audio/mp3`"
              },
              "data": {
                "type": "string",
                "description": "文件的 Base64 编码数据"
              }
            },
            "required": ["mimeType", "data"]
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "description": "模型生成参数配置",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "采样温度，Gemini 3 系列强烈建议保持默认值 1.0。降低温度可能导致循环或性能下降",
            "default": 1.0
          },
          "topP": {
            "type": "number",
            "description": "核采样参数，控制采样的概率质量"
          },
          "topK": {
            "type": "integer",
            "description": "Top-K 采样参数"
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "最大输出 token 数量",
            "default": 2048
          },
          "responseMimeType": {
            "type": "string",
            "description": "指定输出格式。设为 `application/json` 可让模型输出结构化JSON内容",
            "enum": ["text/plain", "application/json"]
          },
          "responseJsonSchema": {
            "type": "object",
            "description": "JSON Schema，配合 responseMimeType 为 application/json 使用，定义输出的JSON结构"
          },
          "thinkingConfig": {
            "type": "object",
            "description": "思考配置，控制模型的推理深度（仅 Gemini 3 系列支持）",
            "properties": {
              "thinkingLevel": {
                "type": "string",
                "description": "思考等级。`minimal`(仅3 Flash)、`low`、`medium`(仅3.1 Pro和3 Flash)、`high`(默认，所有3系列模型)",
                "enum": ["minimal", "low", "medium", "high"],
                "default": "high"
              }
            }
          }
        }
      },
      "SafetySetting": {
        "type": "object",
        "description": "安全过滤设置",
        "required": ["category", "threshold"],
        "properties": {
          "category": {
            "type": "string",
            "description": "安全类别",
            "enum": [
              "HARM_CATEGORY_HARASSMENT",
              "HARM_CATEGORY_HATE_SPEECH",
              "HARM_CATEGORY_SEXUALLY_EXPLICIT",
              "HARM_CATEGORY_DANGEROUS_CONTENT"
            ]
          },
          "threshold": {
            "type": "string",
            "description": "过滤阈值",
            "enum": [
              "BLOCK_NONE",
              "BLOCK_LOW_AND_ABOVE",
              "BLOCK_MEDIUM_AND_ABOVE",
              "BLOCK_ONLY_HIGH"
            ]
          }
        }
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "description": "模型生成的候选回复列表",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "$ref": "#/components/schemas/Content"
                },
                "finishReason": {
                  "type": "string",
                  "description": "生成结束原因：STOP(正常结束)、MAX_TOKENS(达到最大token)、SAFETY(安全过滤)、RECITATION(引用过滤)",
                  "enum": ["STOP", "MAX_TOKENS", "SAFETY", "RECITATION"]
                },
                "safetyRatings": {
                  "type": "array",
                  "description": "内容安全评级",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "安全类别"
                      },
                      "probability": {
                        "type": "string",
                        "description": "危害概率：NEGLIGIBLE、LOW、MEDIUM、HIGH"
                      }
                    }
                  }
                }
              }
            }
          },
          "usageMetadata": {
            "type": "object",
            "description": "Token 用量统计",
            "properties": {
              "promptTokenCount": {
                "type": "integer",
                "description": "输入 token 数量"
              },
              "candidatesTokenCount": {
                "type": "integer",
                "description": "输出 token 数量"
              },
              "totalTokenCount": {
                "type": "integer",
                "description": "总 token 数量"
              }
            }
          },
          "modelVersion": {
            "type": "string",
            "description": "使用的模型版本"
          }
        }
      }
    }
  }
}
